<br>
<h1>Create an Account</h1>

<%= render 'shared/errors' %>

<form class="" action=" <%= users_url %> " method="post">
  <label for="user_email">Email: </label>
  <input type="text" id="user_email" name="user[email]" value="">
  <label for="user_password">Password: </label>
  <input type="password" id="user_password" name="user[password]" value="">
  <input type="submit">

</form>
