<br>Add a Band</h1>

<%= render 'shared/errors' %>

<form class="" action=" <%= bands_url %> " method="post">
  <label for="band_name">Band Name: </label>
  <input type="text" id="band_name" name="band[name]" value="">
  <input type="submit">

</form>
